<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Job Search</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Designation</th>
        <th>Company</th>
        <th>Experience</th>
        <th>Salary</th>
    </tr>
    <tr th:each="job : ${jobs}">
        <td th:text="${job.jobId}"></td>
        <td th:text="${job.jobDesignation}"></td>
        <td th:text="${job.companyName}"></td>
        <td th:text="${job.workExperience}"></td>
        <td th:text="${job.salary}"></td>
    </tr>
</table>
</body>
</html>